.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns.columns-60-40 > div,
  .columns.columns-40-60 > div {
    align-items: stretch;
  }

  .columns.columns-60-40 > div > div,
  .columns.columns-40-60 > div > div {
    height: 100%;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.columns-60-40 > div > div:first-child {
    flex: 0 0 60%;
  }

  .columns.columns-60-40 > div > div:last-child {
    flex: 0 0 40%;
  }

  .columns.columns-40-60 > div > div:first-child {
    flex: 0 0 40%;
  }

  .columns.columns-40-60 > div > div:last-child {
    flex: 0 0 60%;
  }
}
